@model Ams.Models.Receipt

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Receipt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivableLedger)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivableLedger)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ledger_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ledger_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rec_status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rec_status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
