@model Ams.ViewModels.IncomeExpensesReportVm
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}.


<div class="row">
    <div class="col-2">
        <div class="form-group">
        <label for=" ">Date from</label>
        <input  class="form-control" type="date" />
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label for="">Date to</label>
            <input class="form-control" type="date" />
        </div>
    </div>
    </div>
    <div class="row" style="margin-top:3%;">
        <h3 style="text-align:center;">Income & Expenses Report</h3>
    <div class="col-6 p-0">
        
<table class="table table-bordered  table-hover table-sn">
   
    <thead> 
        
                <tr class="table-secondary">
                    <th class="text-left" colspan="3">
                        Income
                    </th>
                </tr>
        <tr>

            <th>Particulars</th>
            <th>lf</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
       
        @foreach(var IncomeExpensesReport in Model.IncomeExpensesReports)
        {
            <tr>
        <td>@IncomeExpensesReport.Ledger_name</td>
        <td>@IncomeExpensesReport.code</td>
        <td>@IncomeExpensesReport.amount</td>
        </tr>
        }
    </tbody>
</table>
</div>
<div class="col-6 p-0">
    <table class="table table-bordered  table-hover table-sn ">

        <thead>
                <tr class="table-secondary">
                    <th class="text-left" colspan="3">
                        Expenses
                    </th>
                </tr>
            <tr>

                <th>Particulars</th>
                <th>lf</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
         
            @foreach (var ExpensesReport in Model.ExpenseReports)
            {
                <tr>
                    <td>@ExpensesReport.Ledger_name</td>
                    <td>@ExpensesReport.code</td>
                    <td>@ExpensesReport.amount</td>
                </tr>
            }
        </tbody>
    </table>

    </div>

    </div>


