@model Ams.ViewModels.IncomeExpensesReportVm
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime DefaultDateFrom = DateTime.Today;
    DateTime DefaultDateto = DateTime.Today;
}.


<form method="get">
    <div style="margin:auto; width:98%; ">

    <div style="margin-top:2%">
<div class="row">
    <div class="col-2">
        <div class="form-group">
            <label for="fromDate">Date from</label>
                    <input class="form-control" value="@DefaultDateFrom.ToString("yyyy-MM-dd")" type="date" id="fromDate" name="fromDate" />
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label for="toDate">Date to</label>
                    <input class="form-control" value="@DefaultDateto.ToString("yyyy-MM-dd")" type="date" id="toDate" name="toDate" />
        </div>
    </div>
    <div  class="col-2">
        <div class="form-group">
            <button style="margin-top:12%;" class="btn btn-primary" name="search">Go</button>
        </div>
    </div>
</div>
</div>
    <div class="row" style="margin-top:3%;">
        <h3 style="text-align:center;">Income & Expenses Report</h3>
        @foreach(var item in Model.CashBanks)
        {
    <p style="color:limegreen">Opening cash = </p>
    <p style="color:limegreen">Opening Bank</p>
        }
    <div class="col-6 p-0">
        

<table class="table table-bordered  table-hover table-sn">
   
    <thead> 
        
                <tr class="table-secondary">
                    <th class="text-left" colspan="3">
                        Income
                    </th>
                </tr>
        <tr>

            <th>Particulars</th>
            <th>lf</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
       
        @foreach(var IncomeExpensesReport in Model.IncomeExpensesReports)
        {
            <tr>
        <td>@IncomeExpensesReport.Ledger_name</td>
        <td>@IncomeExpensesReport.code</td>
        <td>@IncomeExpensesReport.amount</td>
        </tr>
        }

        <tr>
            <th class="text-left" colspan="2">Total</th>
        </tr>
        
    </tbody>
</table>
</div>
<div class="col-6 p-0">
    <table class="table table-bordered  table-hover table-sn ">

        <thead>
                <tr class="table-secondary">
                    <th class="text-left" colspan="3">
                        Expenses
                    </th>
                </tr>
            <tr>

                <th>Particulars</th>
                <th>lf</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
         
            @foreach (var ExpensesReport in Model.ExpenseReports)
            {
                <tr>
                    <td>@ExpensesReport.Ledger_name</td>
                    <td>@ExpensesReport.code</td>
                    <td>@ExpensesReport.amount</td>
                </tr>
            }
                <tr>
                    <th class="text-left" colspan="2">Total</th>
                </tr>
        </tbody>
    </table>

    </div>
    @foreach (var item in Model.CashBanks)
    {
    <p style="color:red;text-align:right">Closing cash = Rs.@item.remaining_cash</p>
    }
    @foreach( var items in Model.cashBanks)
    {
    <p style="color:red; text-align:right">Closing bank = Rs.@items.remaining_bank</p>
    }
    </div>
    </div>
    </form>
