@model Ams.ViewModels.IncomeExpensesReportVm
@{
    ViewData["Title"] = "Payable & Receivable";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime DefaultDate = DateTime.Today;

}


<form method="get">
    <div style="margin:auto; width:95%; ">

    <div style="margin-top:2%">
<div class="row">
    <div class="col-2">
        <div class="form-group">
            <label for="fromDate">Date from</label>
                    <input class="form-control" value="@DefaultDate.ToString("yyyy-MM-dd")" type="date" id="fromDate" name="fromDate" />
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label for="toDate">Date to</label>
                    <input class="form-control" value="@DefaultDate.ToString("yyyy-MM-dd")" type="date" id="toDate" name="toDate" />
        </div>
    </div>
    <div  class="col-2">
        <div class="form-group">
            <button style="margin-top:10%;" class="btn btn-primary" name="search">Go</button>
        </div>
    </div>
</div>
</div>
<div class="row" style="margin-top:3%;">
    <h3 style="text-align:center;">Payalbe & Receivable Report</h3>
 
    <div class="col-6 p-0">


                <table id="payableTable" class="table table-bordered  table-hover table-sn">

            <thead>

                <tr class="table-secondary">
                    <th class="text-left" colspan="3">
                        Payalbe
                    </th>
                </tr>
                <tr>

                    <th>Particulars</th>
                    <th>lf</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.payableReports)
                {
                    <tr>
                        <td>@item.ledger_name</td>
                        <td></td>
                                <td class="payableAmount">@item.remaining</td>
                    </tr>
                }

                        <tr>
                            <th class="text-left" colspan="2">Total</th>
                            <td id="totalPayable">0</td>
                           
                        </tr>

            </tbody>
        </table>
    </div>
    <div class="col-6 p-0">
                <table id="receivableTable" class="table table-bordered  table-hover table-sn ">

            <thead>
                <tr class="table-secondary">
                    <th class="text-left" colspan="3">
                        Receivable
                    </th>
                </tr>
                <tr>

                    <th>Particulars</th>
                    <th>lf</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.receivableReports)
                {
                    <tr>
                        <td>@item.ledger_name</td>
                        <td></td>
                                <td class="receivableAmount">@item.remaining</td>

                    </tr>
                }
                <tr>
                    <th class="text-left" colspan="2">Total</th>
                            <td id="totalReceivable">0</td>
                </tr>
            </tbody>
        </table>

    </div>
 
</div>
</div>
</form>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        calculateTotal("payableTable", "payableAmount", "totalPayable");
        calculateTotal("receivableTable", "receivableAmount", "totalReceivable");

        function calculateTotal(tableId, amountClass, totalId) {
            var table = document.getElementById(tableId);
            var rows = table.getElementsByTagName("tbody")[0].getElementsByTagName("tr");
            var total = 0;

            for (var i = 0; i < rows.length - 1; i++) {  // Exclude the total row
                var amountCell = rows[i].getElementsByClassName(amountClass)[0];
                if (amountCell) {
                    total += parseFloat(amountCell.innerText);
                }
            }

            document.getElementById(totalId).innerText = total.toFixed(2);
        }
    });
</script>