@model Ams.ViewModels.IncomeExpensesReportVm

@{
    ViewData["Title"] = "Receivable Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime DefaultDate = DateTime.Today;

}

<form method="get">
    <div style="margin:auto; width:98%; ">

    <div style="margin-top:2%">
<div class="row">
    <div class="col-2">
        <div class="form-group">
            <label for="fromDate">Date from</label>
                    <input class="form-control" value="@DefaultDate.ToString("yyyy-MM-dd")" type="date" id="fromDate" name="fromDate" />
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label for="toDate">Date to</label>
                    <input class="form-control" value="@DefaultDate.ToString("yyyy-MM-dd")" type="date" id="toDate" name="toDate" />
        </div>
    </div>
    <div  class="col-2">
        <div class="form-group">
            <button style="margin-top:12%;" class="btn btn-primary" name="search">Go</button>
        </div>
    </div>
</div>
</div>
<h3 style="text-align:center">Receivable Details</h3>

<p>
    <button class="btn-primary"><a asp-action="Create"></a>Create New</button>
</p>
<table class="table table-bordered table-striped table-hover table-sn ">
    <thead>
        <tr class="table-primary">
            <th>
                Date
            </th>
            
            <th>
                Receivable Ledger
            </th>
            <th>
                Amount
            </th>
            <th>
                Cash/Bank
            </th>
            <th>
                Remarks
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ReceivableReports) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivableLedger)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ledger_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.remarks)
            </td>
           
           
                
        </tr>
}
    </tbody>
</table>
</div>
</form>