@model Ams.ViewModels.IncomeExpensesReportVm

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime DefaultDate = DateTime.Today;

}
<form method="get">
    <div style="margin:auto; width:98%; ">

    <div style="margin-top:2%">
<div class="row">
    <div class="col-2">
        <div class="form-group">
            <label for="fromDate">Date from</label>
                    <input class="form-control" value="@DefaultDate.ToString("yyyy-MM-dd")" type="date" id="fromDate" name="fromDate" />
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label for="toDate">Date to</label>
                    <input class="form-control" value="@DefaultDate.ToString("yyyy-MM-dd")" type="date" id="toDate" name="toDate" />
        </div>
    </div>
    <div  class="col-2">
        <div class="form-group">
            <button style="margin-top:12%;" class="btn btn-primary" name="search">Go</button>
        </div>
    </div>
</div>
</div>

<h3 style="text-align:center">Receipt Details</h3>

<p>
    <button class="btn-primary"><a asp-action="Create"></a>Create New</button>
</p>
<table class="table table-bordered table-striped table-hover table-sn ">
    <thead>
        <tr class="table-primary">
            <th>
                Date
            </th>

            <th>
                Receipt From
            </th>
            <th>
                Amount
            </th>
            <th>
                Cash/Bank
            </th>
            <th>

                Remarks
            </th>
            <th>
                Actions
            </th>
        </tr>

    <tbody>
            @foreach (var item in Model.receiptReports)
            {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.ReceivableLedger)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.ledger_name)
                </td>

                <td>
                        @Html.DisplayFor(modelItem => item.remarks)
                </td>

                <td>
                    <a class="btn btn-outline-primary btn-sm" style="--bs-btn-padding-y: .10rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .75rem; border-radius:7px;" asp-action="Details" asp-route-id="">Details</a>
                    <a class="btn btn-outline-danger btn-sm" style="--bs-btn-padding-y: .10rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .75rem; border-radius:7px;" asp-action="Delete" asp-route-id="">Delete</a>
                </td>
            </tr>
            }
    </tbody>
</table>
</div>
</form>


